{% extends 'base.html.twig' %}

{% block main %}

<h1>Добавить санитарно-эпидемиологическое заключение</h1>

{{ form_start(form) }}

<div class="row">
    <div class="col-md-4">
        {{ form_label(form.nomer, 'Номер') }}
        {{ form_widget(form.nomer, { 'attr': {'class': 'form-control', 'spellcheck' : 'true'} }) }}
        {{ form_label(form.date, 'Дата') }}
        {{ form_widget(form.date, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}  
        {{ form_label(form.vidDeytelnosti, 'Вид деятельности') }}
        {{ form_widget(form.vidDeytelnosti, { 'attr': {'class': 'form-control', 'spellcheck' : 'true'} }) }}        
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="submit" value="Добавить" class="btn btn-success add_button" />
    </div>
</div>

{% endblock %}

{% block sidebar %}

{% endblock %}