{% extends 'base.html.twig' %}

{% block main %}

    <div class="row">
        <h1>Добавление проверки для «{{fkuz_name}}»</h1>
    </div>

    {{ form_start(form) }}

    <div class="row">
        <input type="submit" value="Добавить проверку" class="btn btn-success" style="float:right;"/>
    </div>

    <div class="proverka row">
        <div class="row">
            <div class="col-md-3">
                {{ form_label(form.nomer, 'Номер проверки') }}
                {{ form_widget(form.nomer, { 'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_label(form.proverkaType, 'Тип проверки') }}
            {{ form_widget(form.proverkaType, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="row">
            <div class="col-md-3">
                {{ form_label(form.date, 'Дата (дд.мм.гггг)') }}
                {{ form_widget(form.date, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.date_rasporyageniya, 'Дата распоряжения (дд.мм.гггг)') }}
                {{ form_widget(form.date_rasporyageniya, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.date_akt, 'Дата выдачи акта (дд.мм.гггг)') }}
                {{ form_widget(form.date_akt, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.date_predpisaniya, 'Дата предписания (дд.мм.гггг)') }}
                {{ form_widget(form.date_predpisaniya, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}
            </div>
        </div>

        {{ form_label(form.kem_vydano, 'Кем выдано') }}
        {{ form_widget(form.kem_vydano, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <hr/>

    <div class="dobavlenie row">

        <div class="col-md-6">
            <div class="nakazanieFkuz" data-prototype="{{ form_widget(form.proverkaNakazanieFkuz.vars.prototype)|e }}"></div>
        </div>
        <div class="col-md-6 list_add"></div>

    </div>
    <hr/>

    <div class="row">
        <input type="submit" value="Добавить проверку" class="btn btn-success" style="float:right;"/>
    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}