<div class="row">

    {% if allNamefilial is empty%}
        <p>Не добавлены филиалы</p>
    {% elseif narusheniyaType1 is empty%}
        <p>Нет нарушений в филиалах в выбранный период</p>
    {% elseif narusheniyaType2 is empty%}
        <p>Нет нарушений в филиалах в выбранный период</p>
    {% elseif narusheniyaType3 is empty%}
        <p>Нет нарушений в филиалах в выбранный период</p>
    {% elseif narusheniyaType4 is empty%}
        <p>Нет нарушений в филиалах в выбранный период</p>
    {% elseif narusheniyaType5 is empty%}
        <p>Нет нарушений в филиалах в выбранный период</p>
    {% elseif narusheniyaType6 is empty%}
        <p>Нет нарушений в филиалах в выбранный период</p>
    {% else %}

        <table class="table table-hover table-bordered numbers">
            <thead>
            <tr>
                <td></td>
                <td style="font-size:12px">Неполное служебное</td>
                <td style="font-size:12px">Строгий выговор</td>
                <td style="font-size:12px">Выговор</td>
                <td style="font-size:12px">Замечание</td>
                <td style="font-size:12px">Ораничиться ранее</td>
                <td style="font-size:12px">Строго предупредить</td>
                <td style="font-size:12px">Итог</td>
            </tr>
            </thead>
            <tbody>

            {% set flag1= "0" %}
            {% set flag2 = "0" %}
            {% set flag3 = "0" %}
            {% set flag4 = "0" %}
            {% set flag5 = "0" %}
            {% set flag6 = "0" %}

            {% for filial in allNamefilial %}
                <tr class="pokazatels{{loop.index}}">
                    <td class="name">{{ filial.nameShort|slice(3,7) }}</td>

                    {% for narush in narusheniyaType1 %}

                        {% if narush.name_full == filial.nameFull %}
                            <td class="pokazatel1">{{ narush.1 }}</td>
                            {% set flag1 = "1" %}
                        {% endif %}

                    {% endfor %}

                    {% if flag1 == "0" %}
                        <td></td>
                    {% endif %}
                    {% set flag1 = "0" %}

                    {% for narush in narusheniyaType2 %}

                        {% if narush.name_full == filial.nameFull %}
                            <td class="pokazatel2">{{ narush.1 }}</td>
                            {% set flag2 = "1" %}
                        {% endif %}

                    {% endfor %}

                    {% if flag2 == "0" %}
                        <td></td>
                    {% endif %}
                    {% set flag2 = "0" %}

                    {% for narush in narusheniyaType3 %}

                        {% if narush.name_full == filial.nameFull %}
                            <td class="pokazatel3">{{ narush.1 }}</td>
                            {% set flag3 = "1" %}
                        {% endif %}

                    {% endfor %}

                    {% if flag3 == "0" %}
                        <td></td>
                    {% endif %}
                    {% set flag3 = "0" %}

                    {% for narush in narusheniyaType4 %}

                        {% if narush.name_full == filial.nameFull %}
                            <td class="pokazatel1">{{ narush.1 }}</td>
                            {% set flag4 = "1" %}
                        {% endif %}

                    {% endfor %}

                    {% if flag4 == "0" %}
                        <td></td>
                    {% endif %}
                    {% set flag4 = "0" %}

                    {% for narush in narusheniyaType5 %}

                        {% if narush.name_full == filial.nameFull %}
                            <td class="pokazatel1">{{ narush.1 }}</td>
                            {% set flag5 = "1" %}
                        {% endif %}

                    {% endfor %}

                    {% if flag5 == "0" %}
                        <td></td>
                    {% endif %}
                    {% set flag5 = "0" %}

                    {% for narush in narusheniyaType6 %}

                        {% if narush.name_full == filial.nameFull %}
                            <td class="pokazatel1">{{ narush.1 }}</td>
                            {% set flag6 = "1" %}
                        {% endif %}

                    {% endfor %}

                    {% if flag6 == "0" %}
                        <td></td>
                    {% endif %}
                    {% set flag6 = "0" %}

                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Всего</td>
                <td id="result1"></td>
                <td id="result2"></td>
                <td id="result3"></td>
                <td id="result4"></td>
                <td id="result5"></td>
                <td id="result6"></td>
                <td id="vsego"></td>
            </tr>
            </tfoot>
        </table>
    {% endif %}
</div>