{% extends 'base.html.twig' %}

{% block main %}

{% include 'views/otchet/ajax/zabolevanie_menu.html' %}

<div class="row">
    <h3>Общая статистика заболеваний контактных</h3>

    <div class="row" style="margin-bottom:50px">
        <form class="has-validation-callback" method="post" action="{{ path('kontaktnye') }}" >
            <div class="col-md-3">
                <label class="required" for="proverka_date">Дата от (дд.мм.гггг)</label>
                <input type="text" data-validation-format="dd.mm.yyyy" data-validation-optional="true" data-validation="date" class="form-control" required="required" name="dateOt" id="proverka_date" value="{{ dateOt }}">
            </div><div class="col-md-3">
                <label class="required" for="proverka_date">Дата до (дд.мм.гггг)</label>
                <input type="text" data-validation-format="dd.mm.yyyy" data-validation-optional="true" data-validation="date" class="form-control" required="required" name="dateDo" id="proverka_date" value="{{ dateDo }}">
            </div>
            <div class="col-md-3" style="margin-top:25px">
                <input type="submit" class="btn btn-success" value="Выбрать">
            </div>
        </form>
    </div>

    {% if organizations is empty%}
        <p>Не добавлены учреждения</p>
    {% elseif kontaktnyeOnOrganization is empty%}
        <p>Нет заболевших в выбранный период</p>
    {% else %}

        <div class="col-md-2">
            <table class="table table-hover table-bordered numbers">
                <thead>
                    <tr>
                        <td>Учреждение</td>
                        <td id="zabolevaniya">Количество</td>
                    </tr>
                </thead>
                <tbody>

                {% set flag = "0" %}

                {% for organization in organizations %}
                    <tr  class="pokazatels{{loop.index}}">
                        <td class="name">{{organization.nameShort}}</td>

                            {% for quantity in kontaktnyeOnOrganization %}

                                {% if quantity.name_full == organization.nameFull %}

                                    <td  class="pokazatel{{loop.parent.loop.index}}">{{quantity[1]}}</td>
                                    {% set flag = "1" %}

                                {% endif %}


                            {% endfor %}

                            {% if flag == "0" %}
                                <td></td>
                            {% endif %}
                            {% set flag = "0" %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Всего</td>
                        <td id="vsego_zabolevchih"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    {% endif %}
</div>
    
{% endblock %}

{% block sidebar %}

{% endblock %}