{% extends 'base.html.twig' %}

{% block main %}

{% include 'views/otchet/ajax/zabolevanie_menu.html' %}

<div class="row">
    <h3>Статистика заболевших осужденных по очагу</h3>

    <div class="row" style="margin-bottom:50px">
        <form class="has-validation-callback" method="post" action="{{ path('ochag') }}" >
            <div class="col-md-3">
                <label class="required" for="proverka_date">Дата от (дд.мм.гггг)</label>
                <input type="text" data-validation-format="dd.mm.yyyy" data-validation-optional="true" data-validation="date" class="form-control" required="required" name="dateOt" id="proverka_date" value="{{ dateOt }}">
            </div><div class="col-md-3">
                <label class="required" for="proverka_date">Дата до (дд.мм.гггг)</label>
                <input type="text" data-validation-format="dd.mm.yyyy" data-validation-optional="true" data-validation="date" class="form-control" required="required" name="dateDo" id="proverka_date" value="{{ dateDo }}">
            </div>
            <div class="col-md-3" style="margin-top:25px">
                <input type="submit" class="btn btn-success" value="Выбрать">
            </div>
        </form>
    </div>

    {% if organizations is empty%}
        <p>Не добавлены учреждения</p>
    {% elseif osugdeniy is empty%}
        <p>Не добавлены заболевшие</p>
    {% elseif ochags is empty%}
        <p>Нет очагов в выбранный период</p>
    {% else %}

        <table class="table table-hover table-bordered numbers">
            <thead>
                <tr>
                    <td>Учреждение</td>
                    {% for organization in organizations %}
                        <td>{{ organization.nameShort }}</td>
                    {% endfor %}
                    <td>Итог</td>
                </tr>
            </thead>
            <tbody>

            {% set flag = "0" %}

            {% for ochag in ochags %}
                <tr class="pokazatels{{loop.index}}">
                    <td class="name">{{ ochag.date|date("d.m.Y") }}, {{ ochag.place }}</td>

                    {% for organization in organizations %}

                        {% for quantity in osugdeniy %}

                            {% if quantity.ochag_id == ochag.id %}

                                {% if quantity.name_full == organization.nameFull %}
                                    <td class="pokazatel{{loop.parent.loop.index}}">{{quantity[1]}}</td>
                                    {% set flag = "1" %}
                                {% endif %}

                            {% endif %}

                        {% endfor %}

                        {% if flag == "0" %}
                            <td></td>
                        {% endif %}
                        {% set flag = "0" %}
                    {% endfor %}
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Всего</td>
                    {% for organization in organizations %}
                        <td id="result{{loop.index}}"></td>
                    {% endfor %}
                    <td id="vsego"></td>
                </tr>
            </tfoot>
        </table>
    {% endif %}
</div>

{% endblock %}

{% block sidebar %}

{% endblock %}