{% extends 'base.html.twig' %}

{% block main %}

<div class="row">
    <h1>Добавление заболевшего осужденного</h1>
</div>

{{ form_start(form) }}

<div class="row">
    <input type="submit" value="Добавить заболевшего  осужденного" class="btn btn-success" style="float:right;"/>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_label(form.organization, 'Учреждение') }}
        {{ form_widget(form.organization, { 'attr': {'class': 'form-control'} }) }}    
        {{ form_label(form.gender, 'Пол') }}
        {{ form_widget(form.gender, { 'attr': {'class': 'form-control'} }) }}
        {{ form_label(form.fio, 'ФИО') }}
        {{ form_widget(form.fio, { 'attr': {'class': 'form-control'} }) }}      
        {{ form_label(form.date_birthday, 'Дата рождения (дд.мм.гггг)') }}
        {{ form_widget(form.date_birthday, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}        
        {{ form_label(form.place_job, 'Место работы') }}
        {{ form_widget(form.place_job, { 'attr': {'class': 'form-control', 'spellcheck': 'true'} }) }}
        {{ form_label(form.place_study, 'Место учебы') }}
        {{ form_widget(form.place_study, { 'attr': {'class': 'form-control', 'spellcheck': 'true'} }) }}
        {{ form_label(form.place_progivaniya, 'Место проживания') }}
        {{ form_widget(form.place_progivaniya, { 'attr': {'class': 'form-control'} }) }}
        {{ form_label(form.date_viyavleniya, 'Дата заболевания (дд.мм.гггг)') }}
        {{ form_widget(form.date_viyavleniya, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}
        {{ form_label(form.date_gospit, 'Дата госпитализации в МЧ (дд.мм.гггг)') }}
        {{ form_widget(form.date_gospit, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }} 
        {{ form_label(form.date_vzyatiya_na_uchet, 'Дата взятия на учет ЛИУ-9 (дд.мм.гггг)') }}
        {{ form_widget(form.date_vzyatiya_na_uchet, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}
        {{ form_label(form.date_perevoda, 'Дата перевода в ЛИУ-9 (дд.мм.гггг)') }}
        {{ form_widget(form.date_perevoda, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }} 
        {{ form_label(form.mbt, 'МБТ') }}
        {{ form_widget(form.mbt, { 'attr': {'class': 'form-control'} }) }}
        {{ form_label(form.date_zakl_dezin, 'Дата заключительной дезинфекции (дд.мм.гггг)') }}
        {{ form_widget(form.date_zakl_dezin, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}
        {{ form_label(form.date_post_v_org, 'Дата поступления в учреждение (дд.мм.гггг)') }}
        {{ form_widget(form.date_post_v_org, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}       
        {{ form_label(form.date_obr, 'Дата обращения в МЧ (дд.мм.гггг)') }}
        {{ form_widget(form.date_obr, { 'attr': {'class': 'form-control', 'data-validation' : 'date', 'data-validation-optional' : 'true', 'data-validation-format' : 'dd.mm.yyyy'} }) }}         
        {{ form_label(form.viyavlen, 'Выявлен') }}
        {{ form_widget(form.viyavlen, { 'attr': {'class': 'form-control'} }) }}      
        {{ form_label(form.recidiv, 'Заболеваемость') }}
        {{ form_widget(form.recidiv, { 'attr': {'class': 'form-control'} }) }}
        {{ form_label(form.postupil_iz, 'Поступил из') }}
        {{ form_widget(form.postupil_iz, { 'attr': {'class': 'form-control'} }) }}  
        {{ form_label(form.address_common, 'Адрес общий') }}
        {{ form_widget(form.address_common, { 'attr': {'class': 'form-control'} }) }}  
        {{ form_label(form.address_propiska, 'Адрес по прописке') }}
        {{ form_widget(form.address_propiska, { 'attr': {'class': 'form-control'} }) }}          
        {{ form_label(form.ochag, 'Очаг') }}
        {{ form_widget(form.ochag, { 'attr': {'class': 'form-control'} }) }}        
    </div>
</div>

<hr/>

<div class="dobavlenie row">
    
    <div class="col-md-6">
        <div class="datesFLG" data-prototype="{{ form_widget(form.datesFLG.vars.prototype)|e }}"></div>
    </div>    
    <div class="col-md-6 list_add"></div>
    
</div>

<hr/>

<div class="dobavlenie row">
    
    <div class="col-md-6">
        <div class="patologiya" data-prototype="{{ form_widget(form.soput_patol.vars.prototype)|e }}"></div>
    </div>    
    <div class="col-md-6 list_add"></div>
    
</div>

<hr/>

<div class="dobavlenie row">
    
    <div class="col-md-6">
        <div class="kontaktnyi" data-prototype="{{ form_widget(form.kontaktnyi.vars.prototype)|e }}"></div>
    </div>    
    <div class="col-md-6 list_add"></div>
    
</div>

<div class="row">
    <input type="submit" value="Добавить заболевшего осужденного" class="btn btn-success" style="float:right;"/>
</div>

{% endblock %}

{% block sidebar %}

{% endblock %}