{% extends 'base.html.twig' %}

{% block main %}

<div class="row">
    <div class="col-md-6">
        <h3>Заболевший осужденный</h3>
        <table class="table table-hover">
            <tbody>
			    <tr>
                    <td>Учреждение</td>
                    <td>{{ organization_name }}</td>
                </tr>
                <tr>
                    <td>ФИО</td>
                    <td>{{ osugdenyi.fio }}</td>
                </tr>
                <tr>
                    <td>Дата рождения</td>
                    <td>{{ osugdenyi.dateBirthday|date("d.m.Y") }}</td>
                </tr>
                <tr>
                    <td>Место работы</td>
                    <td>{{ osugdenyi.placeJob }}</td>
                </tr>
                <tr>
                    <td>Место учебы</td>
                    <td>{{ osugdenyi.placeStudy }}</td>
                </tr>
                <tr>
                    <td>Место проживания</td>
                    <td>{{ osugdenyi.placeProgivaniya }}</td>
                </tr>
                <tr>
                    <td>Дата заболевания</td>
                    <td>{{ osugdenyi.dateViyavleniya|date("d.m.Y") }}</td>
                </tr>
               
                <tr>
                    <td>Дата госпитализации в МЧ</td>
                    <td>{{ osugdenyi.dateGospit|date("d.m.Y") }}</td>
                </tr>
                <tr>
                    <td>Дата взятия на учет ЛИУ-9</td>
                    <td>
                        {{ osugdenyi.dateVzyatiyaNaUchet is empty ? "" : osugdenyi.dateVzyatiyaNaUchet|date("d.m.Y") }}
                    </td>
                </tr>
                <tr>
                    <td>Дата перевода в ЛИУ-9</td>
                    <td>
                        {{ osugdenyi.datePerevoda is empty ? "" : osugdenyi.datePerevoda|date("d.m.Y") }}     
                    </td>
                </tr>            
                <tr>
                    <td>МБТ</td>
                    <td>{{ osugdenyi.mbt }}</td>
                </tr>
                <tr>
                    <td>Дата заключительной дезинфекции</td>
                    <td>{{ osugdenyi.dateZaklDezin|date("d.m.Y") }}</td>
                </tr>
                <tr>
                    <td>Дата поступления в учреждение</td>
                    <td>
                        {{ osugdenyi.datePostVOrg is empty ? "" : osugdenyi.datePostVOrg|date("d.m.Y") }} 
                    </td>
                </tr>
                <tr>
                    <td>Дата обращения в МЧ</td>
                    <td>
                        {{ osugdenyi.dateObr is empty ? "" : osugdenyi.dateObr|date("d.m.Y") }}   
                    </td>
                </tr>
                <tr>
                    <td>Выявлен</td>
                    <td>{{ osugdenyi.viyavlen }}</td>
                </tr>
                <tr>
                    <td>Заболеваемость</td>
                    <td>{{ osugdenyi.recidiv }}</td>
                </tr>
                <tr>
                    <td>Поступил из</td>
                    <td>{{ osugdenyi.postupilIz }}</td>
                </tr>
                <tr>
                    <td>Адрес общий</td>
                    <td>{{ osugdenyi.addressCommon }}</td>
                </tr>            
                <tr>
                    <td>Адрес по прописке</td>
                    <td>{{ osugdenyi.addressPropiska }}</td>
                </tr>   
                <tr>
                    <td>Очаг</td>
                    {% if osugdenyi.ochag is null %}
                        <td></td>
                    {% else %}
                        <td>{{ osugdenyi.ochag.date|date("d.m.Y") }}, {{ osugdenyi.ochag.place }}</td>
                    {% endif %} 
                </tr>
            </tbody>
        </table>
    </div>
   
    <div class="col-md-6">
        <div class="row"> 
            {% if kontakts is empty %}
                <div>Контактных нет</div>
            {% else %}
            <h3>Контактные</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>ФИО</td>
                        <td>Дата рождения</td>
                    </tr>
                </thead>
                <tbody>
                    {% for kontakt in kontakts %}
                    <tr>
                        <td>{{ kontakt.fio }}</td>
                        <td>{{ kontakt.dateBirthday|date("d.m.Y") }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div> 
        
        <div class="row"> 
            {% if datesFLG is empty %}
                <div>ФЛГ нет</div>
            {% else %}
            <h3>ФЛГ</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Результат</td>
                        <td>Дата</td>
                    </tr>
                </thead>
                <tbody>
                    {% for flg in datesFLG %}
                    <tr>
                        <td>{{ flg.date|date("d.m.Y") }}</td>
                        <td>{{ flg.result }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        
        <div class="row"> 
            {% if soputPatol is empty %}
                <div>Сопутствующих патологий нет</div>
            {% else %}
            <h3>Сопутствующие патологии</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Наименование</td>
                    </tr>
                </thead>
                <tbody>
                    {% for patol in soputPatol %}
                    <tr>
                        <td>{{ patol.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>         
    </div> 
</div> 

<div class="row">            
    <ul class="nav navbar-nav add">
        <li><a href="/zabolevaniya/editOsugdenyi/{{ osugdenyi.id }}">Редактировать заболевшего</a></li>
        <li><a href="/zabolevaniya/deleteOsugdenyi/{{ osugdenyi.id }}">Удалить заболевшего</a></li>
   </ul>
</div> 
   
{% endblock %}

{% block sidebar %}

{% endblock %}